body {
    font-family: Georgia, serif;
  }
  
  h2 {
    margin-top: .5cm;
    margin-left: 1cm;
    color: #e53f71;
  }
  
  h3 {
    margin-left: 1cm;
    font-size: large;
    color: #f89f5b;
  }
  
  #cs{
    border-radius: 8px;
    width: 15%;
    float: left;    
    margin: 0 15px 0 15px;
  }

  #cat{
    border-radius: 8px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }